@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');

:root {
    --firstfont: 'Zen Kaku Gothic Antique', sans-serif;
    --bg1: rgb(36, 36, 36);
    --bg2: rgb(54, 54, 54);
    --bg3: rgb(27, 27, 27);
    --logo1: #E5323B;
    --logo2: #E47E40;
    --logo3: #E2B13C;
    --logo4: #DFDB2A;
    --transtime: .3s;
}

* {
    margin: 0px;
}

h1 {
    color: white;
    font-size: 3.4em;
    font-family: var(--firstfont);
    text-align: center;
}

h2 {
    color: white;
    font-size: 2em;
    font-family: var(--firstfont);
    text-align: center;
    padding: 10px;
}

p {
    color: white;
    font-size: 1.2em;
    font-family: var(--firstfont);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: white;
    font-family: var(--firstfont);
    text-decoration: underline;
}

div#navigation > a {
    font-family: var(--firstfont);
    padding: 15px;
    margin: 10px;
    font-size: 1.6em;
    text-decoration: none;
    color: white;
    transition: var(--transtime);
}

div#navigation > a.normal-link:hover {
    color: var(--logo2);
    font-size: 1.8em;
    transition: var(--transtime);
}

div#navigation {
    display: flex;
    justify-content: right;
    margin-right: 50px;
}

a#last:not(:hover) {
    background-color: var(--logo2);
    border-radius: 25px 15px;
    box-shadow: 3px 3px 6px #0000008e;
    transition: var(--transtime);
}

a#last:hover {
    background-color: var(--logo1);
    border-radius: 15px 25px;
    box-shadow: -3px -3px 6px #0000008e;
    transition: var(--transtime);
}

div#home {
    background-color: var(--bg1);
    height: 85vh;
}

div.meio {
    text-align: center;
    margin-top: 10%;
}

div#horarios {
    background-color: var(--bg2);
    height: 95vh;
    box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.315);
    padding-top: 35px;
}

button {
    color: white;
    background: none;
    border: 2.5px solid var(--logo3);
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    font-size: 1.3em;
    transition: var(--transtime);
}

button:hover {
    background-color: var(--logo3);
}

table {
    color: white;
    margin: auto;
    margin-top: 25px;
    font-family: var(--firstfont);
    border: 3px solid var(--logo3);
    border-radius: 10px;
}

.table-baixo {
    padding: 5px;
    border-bottom: 2px solid var(--logo3);
}

div#aulas {
    background-color: var(--bg3);
    padding-top: 30px;
    box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.315);
}

div.aula {
    display: inline-block;
    margin: 30px;
    min-width: 300px;
    max-width: 350px;
    min-height: 300px;
    max-height: 350px;
    text-align: center;
    border-radius: 9% 91% 9% 91% / 91% 16% 84% 9%;
    -webkit-box-shadow: 7px 7px 19px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 19px -10px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 19px -10px rgba(0,0,0,0.75);
    background-image: linear-gradient(var(--logo1), var(--logo2), var(--logo3));
    transition: transform var(--transtime);
    
}

div.aula:hover {
    transform: scale(1.2);
}

div#tarefas {
    background-color: var(--bg1);
    padding-top: 25px;
    box-shadow: 7px 7px 19px -10px rgba(0, 0, 0, 0.856);
}

div.tarefa {
    display: inline-block;
    min-width: 300px;
    max-width: 350px;
    min-height: 300px;
    max-height: 350px;
    margin: 20px;
    border-radius: 8% 92% 4% 96% / 92% 7% 93% 8%;
    box-shadow: 7px 7px 19px -10px rgba(0, 0, 0, 0.856);
    background-color: var(--logo2);
    transition: transform var(--transtime);
}

footer {
    background-color: var(--bg3);
}